/* STYLES.CSS: GLOBAL "AD-HOC" ADJUSTMENTS */
/* To override Semantic UI's CSS styles, we need more "specific" selectors */
/* https://stackoverflow.com/questions/25105736/what-is-the-order-of-precedence-for-css */

/* Font CSS */

/*
@font-face {
  font-family: "Source Han Sans CN";
  src: url("http://192.168.3.233/common/fonts/SourceHanSansCN-Normal.otf") format("opentype");
}
@font-face {
  font-family: "Source Han Sans CN";
  src: url("http://192.168.3.233/common/fonts/SourceHanSansCN-Bold.otf") format("opentype");
  font-weight: bold;
}

body * {
  font-family: "Icons", "Lato", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", sans-serif !important;
}
/* body { font-weight: 200 !important; }
h1, h2, h3, h4, h5, h6, .ui.header { font-weight: 400 !important; } */

/* LAYOUT CSS */

/* `box-sizing: border-box;` is the default in Semantic UI */
/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*.clearfix { zoom: 1; }*/

html,
body {
  min-height: 100%;
}

/* .body_wrapper { width: 100%; min-height: 100%; } */

/* Container */
/*
.section {
  padding: 1em;
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.1rem;
}
*/

/* Message */
.ui.one_time_messages.container {
  position: absolute;
  width: 30em;
  right: 0;
  z-index: 999;
  padding: 1em;
}

/* Footer */
.ui.footer.segment {
  padding: 3em 0em;
}

.ui.footer.segment .uisection.divider {
  margin: 1.5em 0;
}

.ui.footer.segment * {
  line-height: 1.5em;
}

/* STYLING CSS */

/* Make space under footer black */
body {
  background-color: #1b1c1d;
}

.body_wrapper {
  background-color: #ffffff;
}

/* Code font size */

pre code.hljs {
  font-size: 0.9em;
}

/* KEYBOARD ACCESSIBILITY */

.keyboard_skip_link {
  position: absolute;
  z-index: 9999;
  background-color: #ffffff;
  margin: 5em;
  padding: 0.25em;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.keyboard_skip_link:focus {
  width: auto;
  height: auto;
  clip: auto;
}