{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Infinideas webpage archive" %}{% endblock %}

{% block content %}
<div class="section">
  {% blocktrans %}
  <h1>Infinideas webpage archive</h1>
  
  <p>Zhanrong Qiao gathered a group of people into the development of <a href="https://github.com/Infinideastudio/NEWorldOld" target="_blank">NEWorld</a> starting from 2015. They founded a team named Infinideas. Due to the popularity of NEWorld on <a href="https://tieba.baidu.com/p/2822071396/" target="_blank">Baidu Tieba</a> at that time, the team quickly grown to have more than 200 members. However, most of them came there only for technological discussion and did not directly participate in the development of NEWorld, so later "Infinideas Studio" (the development team) and "Infinideas Chat Group" (for discussion) are differentiated.</p>
  
  <p>Infinideas Studio, being a team of teenage programming hobbists, focused mainly on open source game projects at that time. Besides NEWorld, they have also made <a href="https://github.com/Infinideastudio/Myomyw" target="_blank">Myomyw</a>, ColorStrike... Of course, they also built their own "official website" and online forum, using the programming language PHP. Here is a collection of these web pages. <i>(Some links in these pages are broken)</i></p>
  {% endblocktrans %}
</div>

<div class="ui container">
  <div class="ui stackable three special cards">
    {% for page in webpages %}
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              {# Translators: Have a look #}
              <a class="ui inverted button" href="{{ page.url }}" target="_blank" rel="noreferrer noopener">{% trans 'View' %}</a>
            </div>
          </div>
        </div>
        <img src="{% static page.image_static %}" />
      </div>
      <div class="content">
        <a class="header" href="{{ page.url }}" target="_blank" rel="noreferrer noopener">{{ page.name }}</a>
        <div class="meta">
          <span class="date">Created in {{ page.year }}</span>
        </div>
      </div>
      <div class="extra content">
        <i class="globe icon"></i>
        {{ page.description }}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  </script>
</div>

<div class="section">
  {% blocktrans %}
  <p>Although the team has dissolved in 2017, some members are still <a href="https://github.com/Infinideastudio/" target="_blank">working on projects</a>. And the <a href="http://shang.qq.com/wpa/qunwpa?idkey=7ce5eb864a00cafd50a832d2039def8b9ed931e0e316227cc0d98bf80b85f1cc" target="_blank">Chat Group (on QQ)</a> stayed active to date.</p>
  {% endblocktrans %}
</div>
{% endblock %}
