{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Anfa Learning" %}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}

{% block content %}
<div class="section">
  <h1>{{ course.name }}</h1>
  <h3>{% trans "Course description" %}</h3>
  <p>
    {{ course.description }}
  </p>
  <h3>{% trans "Table of contents" %}</h3>
  <div class="ui divided selection list">
    {% for lecture in all_lectures %}
    <a class="item" href="{% url 'main:lecture' course.codename lecture.id %}">
      {% if lecture.video %}<i class="play circle icon"></i>{% endif %}
      {% if lecture.lecture_notes %}<i class="file alternate icon"></i>{% endif %}
      <div class="content">
        <div class="header">{{ lecture.title }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
  <!-- <div class="ui styled fluid accordion">
    {% for lecture in all_lectures %}
    <a class="title" style="display: block;" href="{% url 'main:lecture' course.codename lecture.id %}">
      <i class="dropdown icon"></i>
      {{ lecture.title }}
    </a>
    {% endfor %}
  </div><br /> -->
  <a class="ui button" href="{% url 'main:courses' %}">{% trans "Go back" %}</a>
</div>
{% endblock %}
