{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="section">
<p>Server time: {{ server_time }}</p>
<p>Client time: {{ local_time }}</p>
<p>Question time: {{ fqs_time }}</p>
<p>request.get_host(): {{ request_get_host }}</p>
</div>

<script type="text/javascript">
/*
var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#vue_app_content',
  data: {
    content: '',
    preview: '',
  },
  methods: {
    getPreview: function(e) {
      e.preventDefault();
      if (this.content != "") {
        this.preview = "{% trans 'Generating preview...' %}";
        axios.get("{% url 'main:markdown_editor' %}", { params: { content: vm.content } })
          .then(function(response) { vm.preview = response.data; })
          .catch(function(error) { "{% trans 'Failed to generate preview: ' %}" + error; })
          .then(function() { MathJax.typeset(); });
      }
    }
  }
})
*/
</script>
{% endblock %}
