{% extends "base.html" %}
{% load static %}

{% block title %}
Past answer
{% endblock %}

{% block content %}
<div class="section">
  <p></p>
  <div class="markdown">{{ history.question.statement|safe }}</div>
  <p></p>
  <div class="ui divider"></div>

  <div>
    <h2>Score: {{ gpt_mark_displayed }}</h2>
    <h4>Your answer:</h4>
    <p>{{ history.user_answer }}</p>
    <div class="ui info message">
      <h4>Comments:</h4>
      <p>{{ history.gpt_comments }}</p>
      <details>
        <summary>Mark scheme:</summary>
        <blockquote>
          <div class="markdown">{{ history.question.mark_scheme|safe }}</div>
        </blockquote>
      </details>
    </div>
    <p>
      <span>Topics:</span>
      {% for topic in history.question.topics.all %}
      <a href="{% url 'main:topic' topic.pk %}" class="ui blue label">{{ topic.name }}</a>
      {% endfor %}
    </p>
  </div>

</div>
{% endblock %}