{% extends "base.html" %}
{% load static %}

{% block title %}
Past answers
{% endblock %}

{% block content %}
<div class="section">
  <h1 class="ui header">Past answers</h1>
  <div class="ui medium divided selection list">
    {% for history in histories %}
    <a class="item" href="{% url 'main:history' history.pk %}">
      <i class="comment alternate outline icon"></i>
      <div class="content">
        <div class="header">{{ history.user_answer }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}