{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Anfa Learning" %}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}

{% block content %}
<div class="section">
  <h1>{{ problemset.name }}</h1>
  <p>{% trans "Problemset description: " %}{{ problemset.description }}</p>
  <ol class="ui list">
    {% for question in all_questions %}
    <li>
      <a href="{% url 'main:question_in_problemset' problemset.codename question.id %}">{% trans 'Question ' %}{{ forloop.counter }}</a>
    </li>
    {% endfor %}
  </ol>
  <a class="ui button" href="{% url 'main:problemsets' %}">{% trans "Go back" %}</a>
  <!-- <div class="ui four column doubling grid">
    <div class="column"><a class="item">Question 1</a></div>
    <div class="column"><a class="item">Question 2</a></div>
    <div class="column"><a class="item">Question 3</a></div>
    <div class="column"><a class="item">Question 4</a></div>
    <div class="column"><a class="item">Question 5</a></div>
    <div class="column"><a class="item">Question 6</a></div>
  </div> -->
</div>
{% endblock %}
