{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Anfa Learning" %}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}

{% block content %}
<div class="section">
  <h1>{% trans 'Problem sets' %}</h1>
  <h3>{% trans 'Uncategorized' %}</h3>
  <div class="ui medium divided selection list">
    {% for problemset in all_problemsets %}
    <a class="item" href="{% url 'main:problemset' problemset.codename %}">
      <i class="edit icon"></i>
      <div class="content">
        <div class="header">{{ problemset.name }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
  <a class="ui button" href="{% url 'main:index' %}">{% trans "Go back" %}</a>
</div>
{% endblock %}
