{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div style="width: 100%; padding: 1em;" id="vue_app_content">
  <form class="ui form" method="post" action="{% url 'main:question_upload' %}">
    <div class="two fields">
      <div class="field">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
          <button class="ui primary button" v-on:click="getPreview">{% trans "Preview" %}</button>
          <input class="ui button" type="submit" value="{% trans 'Confirm upload' %}" />
          <input type="hidden" name="upload" value="1" />
        </div>
        <textarea style="resize: vertical;" placeholder="{% trans 'Paste text here...' %}" rows="20" v-model="content" v-on:keydown.ctrl.enter="getPreview" name="content"></textarea>
      </div>
      <div class="field">
        <div style="margin-bottom: 10px;">
          <div class="ui icon buttons">
            <button class="ui button" v-on:click="prevQuestion"><i class="left arrow icon"></i></button>
            <button class="ui button" v-on:click="currQuestion"><i class="sync icon"></i></button>
            <button class="ui button" v-on:click="nextQuestion"><i class="right arrow icon"></i></button>
          </div>
          <span style="margin-left: 10px;">
            {% blocktrans %}Question [[question_index + 1]] of [[num_questions]], [[curr_question_type]]{% endblocktrans %}
          </span>
        </div>
        <div class="markdown" v-html="preview"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var question_type_tags = {
  {% for question_type_tag in question_type_tags %}
  '{{ question_type_tag.0 }}': '{{ question_type_tag.1|safe }}', // "|safe": Vue.js will escape HTML literals
  {% endfor %}
};

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#vue_app_content',
  data: {
    content: '',
    preview: '',
    question_data: null,
    num_questions: 0,
    question_index: 0,
    curr_question_type: '',
  },
  methods: {
    errorHandler: function(err) {
      if (err.response) {
        var s = err.response.data;
        s = s.replace(/&/g, "&amp;").replace(/\"/g, "&quot;");
        this.preview = "{% trans 'Failed to generate preview: ' %}" + '<iframe seamless sandbox srcdoc="' + s + '" style="display: block; width: 100%; height: 40em;"></iframe>';
      }
      else {
        this.preview = "{% trans 'Failed to generate preview: ' %}" + err;
        throw err;
      }
    },
    getPreview: function(e) {
      e.preventDefault();
      if (this.content != "") {
        this.preview = "{% trans 'Generating preview...' %}";
        
        // Convert Xiuxuan's "Anfa language" into questions on the server
        axios.post("{% url 'main:question_upload_convert' %}", vm.content, { headers: { "X-CSRFToken": Cookies.get("csrftoken") } })
          .then(function(response) {
            // "In Axios responses are already served as javascript object, no need to parse, simply get response and access data."
            // https://stackoverflow.com/questions/48062821/axios-how-to-read-json-response/48062882
            vm.question_data = response.data.wrapped_list;
            vm.num_questions = vm.question_data.length;
            if (vm.question_index > vm.num_questions - 1) vm.question_index = vm.num_questions - 1;
            if (vm.question_index < 0) vm.question_index = 0;
            vm.updatePreview();
          })
          .catch(this.errorHandler);
      }
    },
    updatePreview: function() {
      if (!this.question_data) {
        this.preview = "";
        return;
      }
      
      var curr_question = this.question_data[this.question_index];
      if (!curr_question) {
        this.preview = "";
        return;
      }
      
      this.curr_question_type = question_type_tags[curr_question.type];
      
      // Deep copy in javascript: https://stackoverflow.com/questions/122102/what-is-the-most-efficient-way-to-deep-clone-an-object-in-javascript
      //curr_question = JSON.parse(JSON.stringify(curr_question));
      // ^ No longer needed ^
      
      // First, evaluate all `<< ... >>`(code) blocks & convert Markdown sections into HTML on the server
      axios.post("{% url 'main:question_upload_eval' %}", JSON.stringify(curr_question), { headers: { "X-CSRFToken": Cookies.get("csrftoken") } })
        .then(function(response) {
          curr_question = response.data;
          
          // Then, present the question
          html = '';
          
          // TODO: refactor using Vue (我真的不是很会写javascript...)
          if (curr_question.statement) html += '<h2 class="ui dividing header">{% trans "Statement" %}</h2>' + curr_question.statement;
          if (curr_question.choices) {
            var _a = curr_question.num_correct_choices, _b = curr_question.num_choices;
            html += '<h2 class="ui dividing header">{% trans "Available choices" %}</h2>';
            html += '<p><strong>{% trans "(Setting: choose ' + _a + ' among ' + _b + ' choices)" %}</strong></p>';
            
            html += '<table class="ui celled table">';
            html += '<thead><th></th><th>{% trans "Choice" %}</th><th>{% trans "Explanation" %}</th></thead>';
            html += '<tbody>';
            for (var i = 0; i < curr_question.choices.length; i++) {
              var choice = curr_question.choices[i];
              
              if (choice.is_correct === true) html += '<tr class="positive">';
              else if (choice.is_correct === false) html += '<tr class="negative">';
              else html += '<tr>';
              
              html += '<td>';
              if (choice.is_correct === true) html += '<i class="ui green check icon"></i>';
              else if (choice.is_correct === false) html += '<i class="ui red x icon"></i>';
              else html += '<i class="ui red attention icon"></i>';
              html += '</td>';
              
              html += '<td>' + choice.text + '</td>';
              html += '<td>' + (choice.explanation? choice.explanation : '') + '</td>';
              
              html += '</tr>';
            }
            html += '</tbody>';
            html += '</table>';
          }
          if (curr_question.blanks) {
            html += '<h2 class="ui dividing header">{% trans "Answer validation:" %}</h2>';
            
            html += '<table class="ui celled table">';
            html += '<thead><th>{% trans "Number" context "Numbering" %}</th><th>{% trans "Answer" %}</th>'; /* '<th>{% trans "Explanation" %}</th></thead>' */
            html += '<tbody>';
            for (var i = 0; i < curr_question.blanks.length; i++) {
              var blank = curr_question.blanks[i];
              
              html += '<td>' + (i + 1) + '</td>';
              if (blank.correct_answer) html += '<td>' + blank.correct_answer + '</td>';
              else html += '<td>{% trans "(Do not validate)" %}</td>';
              /* html += '<td>' + (blank.explanation? blank.explanation : '') + '</td>'; */
              
              html += '</tr>';
            }
            html += '</tbody>';
            html += '</table>';
          }
          if (curr_question.explanation) html += '<h2 class="ui dividing header">{% trans "Explanation" %}</h2>' + curr_question.explanation;
          
          html += '{% trans "Knowledge units: " %}';
          for (var i = 0; i < curr_question.knowledge_units.length; i++) {
            html += '<a class="ui blue label">' + curr_question.knowledge_units[i] + '</a>';
          }
          
          vm.preview = html;
          Vue.nextTick(function() { MathJax.typeset(); });
        })
        .catch(this.errorHandler);
    },
    prevQuestion: function(e) { e.preventDefault(); if (this.question_index > 0) { this.question_index--; this.updatePreview(); } },
    currQuestion: function(e) { e.preventDefault(); this.updatePreview(); },
    nextQuestion: function(e) { e.preventDefault(); if (this.question_index < this.num_questions - 1) { this.question_index++; this.updatePreview(); } }
  }
})
</script>
{% endblock %}
