{% extends "base.html" %}
{% load static %}

{% block title %}
IB Computer Science Practice Questions
{% endblock %}

{% block content %}
<div class="section">
  <p></p>
  <div class="markdown">{{ question.statement|safe }}</div>
  <p></p>
  <hr class="ui divider" />

  {% if not user_answer %} {# First time to see question, or user did not give an answer #}
  <form class="ui form" action="{{ submit_url }}" method="{{ submit_method|lower }}">
    {% if submit_method|lower == 'post' %}{% csrf_token %}{% endif %}
    <div class="field">
      <label>Answer:</label>
      <textarea style="resize: vertical;" name="answer_text" placeholder="Type your answer here..."
        rows="15"></textarea>
    </div>
    <input class="ui button primary" type="submit" value="Check" />
  </form>
  {% else %} {# User gave an answer #}
  <div>
    <h4>Your answer:</h4>
    <p>{{ user_answer }}</p>
    <details>
      <summary>Mark scheme:</summary>
      <p></p>
      <div class="markdown">{{ question.mark_scheme|safe }}</div>
      <p></p>
    </details>
  </div>
  {% endif %}

</div>
{% endblock %}