{% extends "base.html" %} {% load static %} {% block title %} Question {% endblock %} {% block content %}
<div class="section">
  <p></p>
  <div class="markdown">{{ question.statement|safe }}</div>
  <p></p>
  <div class="ui divider"></div>

  {% if not user_answer %} {# First time to see question, or user did not give an answer #}
  <form class="ui form" action="{{ submit_url }}" method="{{ submit_method|lower }}">
    {% if submit_method|lower == 'post' %}{% csrf_token %}{% endif %}
    <div class="field">
      <label>Answer:</label>
      <textarea style="resize: vertical" name="user_answer" placeholder="Type your answer here..." rows="15"></textarea>
    </div>
    <input class="ui button primary" type="submit" value="Check" />
  </form>
  {% else %} {# User gave an answer #}
  <div>
    <h2>Score: {{ gpt_mark_divided }} / {{ mark_maximum_divided }}</h2>
    <h4>Your answer:</h4>
    <p>{{ user_answer }}</p>
    <div class="ui info message">
      <h4>Comments:</h4>
      <p>{{ gpt_comments }}</p>
      <details>
        <summary>Mark scheme:</summary>
        <blockquote>
          <div class="markdown">{{ question.mark_scheme|safe }}</div>
        </blockquote>
      </details>
    </div>
    <p>
      <span>Topics:</span>
      {% for topic in question.topics.all %}
      <a href="{% url 'main:topic' topic.pk %}" class="ui label">{{ topic.name }}</a>
      {% endfor %}
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
