{% extends "base.html" %}
{% load static %}

{% block title %}
Questions
{% endblock %}

{% block content %}
<div class="section">
  <h1 class="ui header">{{ topic.name }}</h1>
  <div class="ui medium divided selection list">
    <a class="item" onclick="$('.ui.modal').modal('show');">
      <i class="info circle icon"></i>
      <div class="content">
        <div class="header">What is this topic about?</div>
      </div>
    </a>
    {% for question in topic.questions.all %}
    <a class="item" href="{% url 'main:question' question.pk %}">
      <i class="question circle outline icon"></i>
      <div class="content">
        <div class="header">{{ question.statement|truncatechars:50 }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
  <!-- TODO: Make random selection topic-specific -->
  <a class="ui primary button" href="{% url 'main:question' %}">Random question</a>
</div>

<div class="ui modal">
  <div class="header">What is this topic about?</div>
  <div class="content">
    {{ description|safe }}
  </div>
</div>

{% endblock %}