{% extends "base.html" %}
{% load static %}

{% block title %}
CATE
{% endblock %}

{% block content %}
<div class="section">
  <h1 class="ui header">Browse questions by topic</h1>
  <div class="ui medium divided selection list">
    {% for chapter in chapters %}
    <div class="item">
      <i class="folder open outline icon"></i>
      <div class="content">
        <div class="header">{{ chapter.name }}</div>
        <div class="list">
          {% for topic in chapter.topic_set.all %}
          <a class="item" href="{% url 'main:topic' topic.pk %}">
            <i class="book icon"></i>
            <div class="content">
              <div class="header">{{ topic.name }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="ui primary button" href="{% url 'main:question' %}">Random question</a>
</div>
{% endblock %}